/* header */
header {
    width: 1230px;
    height: 130px;
    margin: 0 auto;
}
.mall-logo {
    width: 240px;
    height: 130px;
    position: absolute;
    overflow: hidden;
    left: 25px;
    background: url("../image/tmall_logo.png") no-repeat center center;
    background-size: 100%;
    text-indent: -9999em;
}
.mall-search {
    width: 625px;
    margin: 0 auto;
    padding-top: 38px;
}
.mall-search-top {
    border: solid #C40000;
    border-width: 2px 0 2px 2px;
    overflow: hidden;
}
.mall-search input[type=text] {
    width: 483px;
    height: 26px;
    padding: 5px 3px 5px 5px;
    outline: none;
    outline-offset: 0;
    float: left;
    border: none;
    font-size: 14px;
    color: rgb(102, 102, 102);
    line-height: 36px;
    font-size: 14px;
}
.mall-search input[type=submit] {
    width: 132px;
    height: 36px;
    background: #C40000;
    border: none;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #fff;
    outline: none;
    cursor: pointer;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.hot-query {
    font-size: 14px;
    color: #999;
    font-family: SimSun, serif;
    margin-left: -12px;
}
.hot-query li {
    float: left;
    margin-top: 6px;
    padding: 0 12px;
    line-height: 15px;
    border-right: 1px solid #ddd;
}
.hot-query a {
    color: #999;
}
.hot-query li:last-child {
    border: none;
}